{% load static %}

  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <p class="p-footer"><i class="fa fa-copyright"></i> Education Center +998951994466</p>
          <div class="icons">
            <span style="color: white;">
              <a href="https://t.me/Chance_study" target="_blank">
                <img src="{% static 'assets/images/telegram.png' %}" alt="">
              </a>
            </span>
            <span style="color: white;">
              <a href="https://www.instagram.com/chance_education_official" target="_blank">
                <img src="{% static 'assets/images/instagram.png' %}" alt="">
              </a>
            </span>
            <span style="color: white;">
              <a href="https://www.facebook.com/ravshanov.bobur" target="_blank">
                <img src="{% static 'assets/images/facebook.png' %}" alt="">
              </a>
            </span>
            <span style="color: white;">
              <a href="https://vm.tiktok.com/ZSJ9WkQNP/" target="_blank">
                <img src="{% static 'assets/images/tik-tok.png' %}" alt="">
              </a>
            </span>
            <span style="color: white;">
              <a href="https://youtube.com/channel/UCi9K6zrW-cm4Xrvg0uWY5rw" target="_blank">
                <img src="{% static 'assets/images/youtube.png' %}" alt="">
              </a>
            </span>
          </div>
        </div>
      </div>
    </div>
  </footer>