{% load static %}


  <header class="main-header clearfix" role="header">
    <div class="logo">
      <a href="https://t.me/joinchat/GoAEWHL5-SYXfU-r" target="_blank"> <img src="{% static 'assets/images/tjnycmkuhj.png' %}" alt="" width="80px" height="80px"><em>Chance</em> Education Centre</a>
    </div>
    <a href="#menu" class="menu-link"><i class="fa fa-bars"></i></a>
    <nav id="menu" class="main-nav" role="navigation">
      <ul class="main-menu">
        <li><a href="#section1">Umumiy</a></li>
        <li class="has-submenu"><a href="#section2">Ma'lumotlar</a>
          <ul class="sub-menu">
            <!-- <li><a href="#section2">Biz haqimizda</a></li> -->
            <li><a href="#section3">Ish faoliyatimiz</a></li>
            <li><a href="#section5">Kurslar haqida</a></li>
          </ul>
        </li>
        <li><a href="#section4">Hodimlar</a></li>
        <li><a href="#section6">Fikr Bildirish</a></li>
      </ul>
    </nav>
  </header>